<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>AUTHENTICATE_BASE_URL</key>
	<string>$(AUTHENTICATE_BASE_URL)</string>
	<key>GRAVATAR_BASE_URL</key>
	<string>$(GRAVATAR_BASE_URL)</string>
	<key>IMAGE_BASE_URL</key>
	<string>$(IMAGE_BASE_URL)</string>
	<key>TMDB</key>
	<dict>
		<key>ApiKey</key>
		<string>a1e6469b9c841dbf821f4ef57f4d74f0</string>
		<key>ReadAccessToken</key>
		<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMWU2NDY5YjljODQxZGJmODIxZjRlZjU3ZjRkNzRmMCIsInN1YiI6IjYwMzM1OGY5OWFmMTcxMDAzZjQ1YjNiNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.H-f-0iZNchiOoPmJc42k5p7vszMqsvOqd9K-6p1JiL0</string>
	</dict>
</dict>
</plist>
